<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Masukotto</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
</head>

<body>
    <div class="d-flex justify-content-center">
        <div class="card mt-5 w-75 mb-5">
            <div class="card-body">
                <h5 class="card-title display-5 text-center">Registro</h5>
                <br>
                <form action="/registerUser" method="POST">
                    <div class="d-flex justify-content-around mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="idTipoUsuario" value="0"
                                id="tipoUsuario">
                            <label class="form-check-label" for="tipoUsuario">
                                Usuario
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="idTipoUsuario" value="1"
                                id="tipoGuarderia">
                            <label class="form-check-label" for="tipoGuarderia">
                                Guardería
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col">
                            <label for="NombreUsuario">Nombre</label>
                            <input class="form-control" name="NombreUsuario" id="NombreUsuario">
                        </div>
                        <div class="mb-3 col">
                            <label for="ApellidoUsuario">Apellido</label>
                            <input class="form-control" name="ApellidoUsuario" id="ApellidoUsuario">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="MailUsuario">E-mail</label>
                        <input type="email" class="form-control" name="MailUsuario" id="MailUsuario">
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="PassUsuario" id="PassUsuario">
                    </div>
                    <div class="mb-3">
                        <label for="TelefonoUsuario">Teléfono</label>
                        <input class="form-control" name="TelefonoUsuario" id="TelefonoUsuario">
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Provincia</label>
                            <select class="form-select mb-3" name="ProvinciaUsuario">
                                <option value="Santa fe" selected>Santa fe</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <label>Localidad</label>
                            <select class="form-select mb-3" name="LocalidadUsuario">
                                <option value="Rosario" selected>Rosario</option>
                            </select>
                        </div>

                        <div class="mb-3 col-2">
                            <label for="CPUsuario">Código postal</label>
                            <input class="form-control" name="CPUsuario" id="CPUsuario" value="2000">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="DomCalleUsuario">Calle</label>
                            <input class="form-control" name="DomCalleUsuario" id="DomCalleUsuario">
                        </div>
                        <div class="mb-3 col-3">
                            <label for="DomNumUsuario">Número</label>
                            <input class="form-control" name="DomNumUsuario" id="DomNumUsuario">
                        </div>
                        <div class="mb-3 col-3">
                            <label for="DomPisoDptoUsuario">Piso/Depto</label>
                            <input class="form-control" name="DomPisoDptoUsuario" id="DomPisoDptoUsuario">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Registrarme
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>