<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Masukotto</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
</head>

<body>
    <div class="d-flex justify-content-center">
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Registrarse</h5>
                <br>
                <form action="/registerUser" method="POST">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="idTipoUsuario" value="0" id="tipoUsuario">
                        <label class="form-check-label" for="tipoUsuario">
                            Usuario
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="idTipoUsuario" value="1" id="tipoGuarderia">
                        <label class="form-check-label" for="tipoGuarderia">
                            Guardería
                        </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="NombreUsuario" id="NombreUsuario">
                        <label for="NombreUsuario">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="ApellidoUsuario" id="ApellidoUsuario">
                        <label for="ApellidoUsuario">Apellido</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="MailUsuario" id="MailUsuario">
                        <label for="MailUsuario">E-mail</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="PassUsuario" id="PassUsuario"
                            placeholder="PassUsuario">
                        <label for="password">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Registrarme
                    </button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>