<nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100 m-0 px-3">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/">Masukotto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link fw-semibold" href="/">Home</a>
                <a class="nav-link fw-semibold" href="#">¿Quiénes somos?</a>
                <a class="nav-link fw-semibold" href="#">Contacto</a>
                <% if (session.loggedin) { %>

                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuario
                        </button>
                        <div class="dropdown-menu end-0">
                            <a class="dropdown-item" href="/profile/<%= session.userId %>">Modificar Perfil</a>
                            <a class="dropdown-item" href="<%='/mascotas/'+session.userId %>">Mis Mascotas</a>
                            <a class="dropdown-item" href="<%='/guarderias/'+session.userId %>">Mis Guarderias</a>
                            <div class="dropdown-divider"></div>
                            <% if (session.typeUser===1) { %>
                                <a class="dropdown-item" href="/users">ABM Usuarios</a>
                                <% }%>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
                        </div>
                    </div>
            </div>
            <%} else { %>
                <button type="button" class="btn btn-light fw-semibold">
                    <a href="/inicioSesion" class="text-decoration-none text-reset">Iniciar
                        sesión</a></button>
                <% }%>



        </div>
    </div>
    </div>
</nav>